<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
<h1>Tweeter</h1>

<form action="/find-user-page" method="post">
    <label for="name"> Username
        <input type="text" min="1" max="25" name="name">
    </label>
    <button type="submit" class="btn btn-primary">Find</button>
</form>

<% users.forEach((user) => { %>

<a href="/user-profile/<%=user.User_PK%>" style="text-decoration: none;">
    <div class="border border-primary shadow p-3 mr-2 ml-2 mb-5 bg-white rounded" id="<%=user.User_PK%>">
        <h1><%= user.name %></h1>
        <img src="<%= user.profilePhoto %>" alt="profile photo">
        <h2>status: <%= user.status %></h2>
    </div>
</a>
<%
})
%>
</body>
</html>
